##########################################################################################
# deactivate "directory indexing / directory listing"
Options -Indexes

# deactivate "name completion" and "show similar file names"
CheckSpelling off

##########################################################################################
# error pages
ErrorDocument 400 /api/error.php?error=400
ErrorDocument 401 /api/error.php?error=401
ErrorDocument 402 /api/error.php?error=402
ErrorDocument 403 /api/error.php?error=403
ErrorDocument 404 /api/error.php?error=404
ErrorDocument 500 /api/error.php?error=500

##########################################################################################

RewriteEngine on

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^$               /api/2/        [R,L,QSA]
RewriteRule ^2$              /api/2/        [R,L,QSA]

RewriteRule ^2/(i|p|s)$                               /api/$1.php                                  [L]
RewriteRule ^2/(i|l|p|s)/([^/]+)$                     /api/$1object.php?$1id=$2&%{QUERY_STRING}    [L]
RewriteRule ^2/(l)/([^/]+)/(count)$                   /api/$1object-$3.php?$1id=$2&%{QUERY_STRING} [L]
RewriteRule ^2/(p)/([^/]+)/(l|count)$                 /api/$1object-$3.php?$1id=$2&%{QUERY_STRING} [L]
RewriteRule ^2/(s)/([^/]+)/(l|p)$                     /api/$1object-$3.php?$1id=$2&%{QUERY_STRING} [L]
RewriteRule ^2/(l)/(count)/([^/]+)$                   /api/$1-$2.php?date=$3&%{QUERY_STRING}       [L]
RewriteRule ^2/(p)/(count|issues|systems)/([^/]+)$    /api/$1-$2.php?date=$3&%{QUERY_STRING}       [L]
RewriteRule ^2/hvd/(statistics|accessurls)/([^/]+)$   /api/hvd-$1.php?date=$2&%{QUERY_STRING}      [L]
RewriteRule ^2/hvd/(accessurls)/([^/]+)/(change)$     /api/hvd-$1-$3.php?date=$2&%{QUERY_STRING}   [L]
RewriteRule ^2/(convert)/(ars)$                       /api/$1-$2.php?%{QUERY_STRING}               [L]
RewriteRule ^2/(live)/(harvester|insights|inspireregistry|url)$  /api/$1-$2.php                    [L]
RewriteRule ^2/(datasets|suppliers|system)$           /api/$1.php               [L]
RewriteRule ^2/datasets/(count|find)$                 /api/datasets-$1.php      [L]
RewriteRule ^2/system/changelog$                      /api/system-changelog.php [L]
RewriteRule ^2/(data-providers)$                      /api/$1.php               [L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

##########################################################################################
