{
  "openapi": "3.0.3",
  "info": {
    "title": "Data Universal Repository API",
    "version": "2.0.0",
    "description": "API wrapper around different know data repositories",
    "contact": {
      "email": "thomas@tursics.de",
      "name": "Thomas Tursics",
      "url": "https://www.tursics.de/"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    }
  },
  "servers": [
    {
      "url": "https://opendata.guru/api/2",
      "variables": {},
      "description": ""
    }
  ],
  "paths": {
    "/system": {
      "get": {
        "summary": "Get system status information",
        "description": "Get information about the system used, the version number, extensions and a link.",
        "operationId": "getSystem",
        "parameters": [
          {
            "name": "link",
            "in": "query",
            "description": "URL to the source system",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ckan": {
                "value": "https://ckan.open.nrw.de/api/3/action/organization_list",
                "summary": "CKAN portal"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Example of a successful answer",
            "content": {
              "application/json": {
                "examples": {
                  "ckanSample": {
                    "value": {
                      "cms": "",
                      "extensions": [
                        "text_view",
                        "image_view",
                        "recline_view"
                      ],
                      "system": "CKAN",
                      "url": "https://ckan.open.nrw.de",
                      "version": "2.9.9"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Example of an error response",
            "content": {
              "application/json": {
                "examples": {
                  "unsetLink": {
                    "value": "{ \"error\": 400, \"message\": \"Bad Request. Parameter \\\"link\\\" is not set\" }"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "live"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "live",
      "description": "The API endpoints call the source systems directly. Be careful during heavy use, there is no caching mechanism."
    }
  ]
}